{#{% load static %}#}

<head>
  <title>결제하기</title>
  <!-- 1. 스크립트 추가 -->
  <script src="https://js.tosspayments.com/v1"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<script>
    const url = new URL(document.location.href);
    const urlParams = url.searchParams;
    const chat_user = urlParams.get('chatuser')
    document.write("chatuser: " + chat_user);
</script>
<script>
    var data = "00"
    var amount = ""
    $.ajax({
        type: "GET",
        url: `http://localhost:8000/payment/toss/info/${chat_user}`,
        datatype: 'json',

        success: function (response) {
            console.log(response)
            data = response.data;
            amount = data['amount'];
            console.log(data)

            var clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq' // 테스트용 클라이언트 키
            var customerKey = '9r-20N_1I5mpDYD0JAJz9' // 고객을 식별할 수 있는 키
            // 2. 초기화
            var tossPayments = TossPayments(clientKey)
            tossPayments.requestPayment('카드', {
                // 결제 수단 파라미터
                // 결제 정보 파라미터
                amount: data['amount'],
                orderId: data['order_id'],  // 채팅 유저 인덱스
                orderName: data['room_name'],  // 주문 금액
                customerName: data['username'],
                successUrl: 'http://localhost:8080/success',
                failUrl: 'http://localhost:8080/fail',
            });
        }
    });
</script>